<article class="post">
    <div class="title">
        <a href="/post/{{id}}">
            <h3>{{title}}</h3>

            <div class="meta">
                Created by {{user.username}} on {{format_date created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </a>
    </div>
    <div class="body-text">
        <p>{{post_text}}</p>
    </div>
</article>